---
http_interactions:
- request:
    method: get
    uri: http://comicvine.gamespot.com/api/characters/?api_key=<API_KEY>&field_list=api_detail_url&format=json&limit=1&sort=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 03-05-2017 10:30:06
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":113382,"status_code":1,"results":[{"api_detail_url":"http:\/\/comicvine.gamespot.com\/api\/character\/4005-1253\/"}],"version":"1.0"}'
  recorded_at: Sun, 05 Mar 2017 18:25:06 GMT
recorded_with: VCR 3.0.3
