---
http_interactions:
- request:
    method: get
    uri: http://comicvine.gamespot.com/api/types/?api_key=qwerty&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 03-05-2017 08:59:52
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":20,"offset":0,"number_of_page_results":20,"number_of_total_results":20,"status_code":1,"results":[{"detail_resource_name":"character","list_resource_name":"characters","id":4005},{"detail_resource_name":"chat","list_resource_name":"chats","id":2450},{"detail_resource_name":"concept","list_resource_name":"concepts","id":4015},{"detail_resource_name":"episode","list_resource_name":"episodes","id":4070},{"detail_resource_name":"issue","list_resource_name":"issues","id":4000},{"detail_resource_name":"location","list_resource_name":"locations","id":4020},{"detail_resource_name":"movie","list_resource_name":"movies","id":4025},{"detail_resource_name":"object","list_resource_name":"objects","id":4055},{"detail_resource_name":"origin","list_resource_name":"origins","id":4030},{"detail_resource_name":"person","list_resource_name":"people","id":4040},{"detail_resource_name":"power","list_resource_name":"powers","id":4035},{"detail_resource_name":"promo","list_resource_name":"promos","id":1700},{"detail_resource_name":"publisher","list_resource_name":"publishers","id":4010},{"detail_resource_name":"series","list_resource_name":"series","id":4075},{"detail_resource_name":"story_arc","list_resource_name":"story_arcs","id":4045},{"detail_resource_name":"team","list_resource_name":"teams","id":4060},{"detail_resource_name":"video","list_resource_name":"videos","id":2300},{"detail_resource_name":"video_type","list_resource_name":"video_types","id":2320},{"detail_resource_name":"video_category","list_resource_name":"video_categories","id":2320},{"detail_resource_name":"volume","list_resource_name":"volumes","id":4050}],"version":"1.0"}'
  recorded_at: Sun, 05 Mar 2017 16:54:52 GMT
recorded_with: VCR 3.0.3
